#content {
    position: relative;
    animation: content-appear 3.5s ease-in-out both;
}

.restaurant {
    padding: 0 0 rem(50);
    background-color: $gray-light;
    text-align: center;

    &__address {
        background-color: $gray-medium;
        font-style: normal;
        font-weight: 500;
        padding: em(16);
        margin-bottom: em(35);

        i {
            margin-right: em(15);
        }
    }

    h1 {
        font-size: rem(24);
        font-weight: 700;
        margin-bottom: rem(20);
        padding: 0 rem(40);
    }

    &__description {
        font-size: rem(18);
        font-weight: 300;
        margin-bottom: rem(30);
        padding: 0 rem(20);
    }
}

.steps {
    list-style-type: none;

    @media #{$medium-up} {
        &__list {
            @include flex(row, center, space-between, wrap)
        }
    }
}

.cards {
    background-color: $gray-light;

    @media #{$medium-up} {
        &__list {   
            @include flex(row, center, space-between, wrap)
        }
    }
}